@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

#bootstrap-overrides .logo {
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 56px;
}

#bootstrap-overrides .jumbotron {
    background-color: #5471D2;
    color: white;
}

